<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>

<body>

<div name="store-name" class="navbar">
    <form name="reset-form" action="#" th:action="@{/}" method="post">
        <button id="reset" type="submit" name="reset" value="0"><img class="logo" src="static/img/page_logo.png"
                                                                     alt="WizardSense"/></button>
    </form>
    <a th:if="${userID != null}" href="/shopping-cart" style="text-decoration: none">
        <img class="cart-logo" src="/static/img/shopping-cart.png" alt="">
        <span th:if="${cartSize > 0}" th:text="${cartSize}" class="dot"></span>
    </a>
    <div th:if="${userID != null}">
        <a th:text="'Hello there '+ ${userName}+'!'"></a>
        (<a th:href="@{/logout}">Logout</a>)
    </div>
</div>

<div class="container">

    <h3>Your Addresses:</h3>
    <a href="/checkout">Create New Address</a>

    <form th:action="@{/checkout}" method="post">
        <div th:if="${addresses.size() != 0}" class="container-inputs card-container">
            <button type="submit" class="address-card" name="selection" th:each=" address : ${addresses}" th:value="${address.getId()}">
                <div class="floating flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4 th:text="${address.getOrderFields().get('city')}">City</h4>
                            <h4 th:text="${address.getOrderFields().get('zipCode')}">ZipCode</h4>
                        </div>
                        <div class="flip-card-back">
                            <p th:text="${address.getOrderFields().get('name')}">Name</p>
                            <p th:text="${address.getOrderFields().get('city')}">City</p>
                            <p th:text="${address.getOrderFields().get('address')}">Address</p>
                        </div>
                    </div>
                </div>
            </button>
            </div>
        </div>
    </form>

    <div th:unless="${addresses.size() != 0}">
        <p>You don't have any saved addresses!</p>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>