<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div th:replace="logo.html :: copy"></div>

<div class="container container-inputs">
    <form th:action="@{/checkout}" method="post">
        <p><strong>Basic info:</strong></p>

        <div class="check-form"><p>Name: </p><input name="name" type="text" th:value="${details.get('name')}"
                                                    placeholder="Firstname Lastname"
                                                    required>
            <p>Message link: </p><input name="email" type="email" th:value="${details.get('email')}"
                                        placeholder="email@wizardsense.com" required></div>
        <div class="check-form"><p>Telepathic link ID: </p><input name="phoneNum" type="text" th:value="${details.get('phoneNum')}"
                                               placeholder="+36-000-0000" required
                                               pattern="[\+]\d{2}[\-]\d{4}[\-]\d{4}">
        </div>

        <p><strong>Billing info:</strong></p>
        <div class="check-form">

            <p>Country: </p><input name="billCountry" type="text" th:value="${details.get('billingCountry')}"
                                   placeholder="Pabusia" required>


            <p>City: </p><input name="billCity" type="text" th:value="${details.get('billingCity')}"
                                placeholder="Paingbing"
                                required>

        </div>
        <div class="check-form">

            <p>District Code: </p><input name="billZip" type="text" th:value="${details.get('billingZipCode')}"
                                         placeholder="05" required>
            <p>Address: </p><input name="billAddress" type="text" th:value="${details.get('billingAddress')}"
                                   placeholder="14 Victory Street" required>
        </div>

        <p><strong>Shipping info:</strong></p>
        <div class="check-form">
            <p>Country: </p><input name="shipCountry" type="text"
                                   th:value="${details.get('shippingCountry')}"
                                   placeholder="Pabusia" required>
            <p>City: </p><input name="shipCity" type="text" th:value="${details.get('shippingCity')}" placeholder="Paingbing"
                                required></div>
        <div class="check-form">
            <p>District Code: </p><input name="shipZip" type="text" th:value="${details.get('shippingZipCode')}"
                                         placeholder="05"
                                         required>
            <p>Address: </p><input name="shipAddress" type="text" th:value="${details.get('shippingAddress')}"
                                   placeholder="14 Victory Street" required>
        </div>

        <input type="submit" value="Proceed to Payment">
    </form>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>