<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>

<body>

<div th:replace="logo.html :: copy"></div>

<div class="container container-inputs" th:if="${userID}">
    <div>
        <table>
            <form th:action="@{/pay}" method="post">

                <!-- Billing Data -->

                <strong>Buyer's Name</strong>
                <tr><input name="billingName" th:value="${details.getOrderFields().get('name')}" th:placeholder="'First Name Last Name'" required></tr>
                <strong>Buyer's Mental BrainBox</strong>
                <tr><input name="billingEmail" th:value="${details.getOrderFields().get('eMail')}"  th:placeholder="'email@wizardsense.com'" required></tr>
                <strong>Buyer's Psychic Link </strong>
                <tr><input name="billingPhone" th:value="${details.getOrderFields().get('phoneNumber')}"  th:placeholder="'+36-000-0000'" required pattern="[\+]\d{2}[\-]\d{3}[\-]\d{4}"></tr>
                <strong>Country where the Buyer livest</strong>
                <tr><input name="billingCountry" th:value="${details.getOrderFields().get('country')}"  th:placeholder="'Pabusia'" required></tr>
                <strong>The City of the Buyer's dwelling</strong>
                <tr><input name="billingCity" th:value="${details.getOrderFields().get('city')}"  th:placeholder="'Paingbing'" required></tr>
                <strong>District of the Buyer's</strong>
                <tr><input name="billingZip" th:value="${details.getOrderFields().get('zipCode')}"  th:placeholder="'0512'" required></tr>
                <strong>Buyer's quarters</strong>
                <tr><input name="billingAddress" th:value="${details.getOrderFields().get('address')}"  th:placeholder="'14 Victory Street'" required></tr>

                <!--Shipping Data -->
                <strong>Yer Name</strong>
                <tr><input name="shippingName" th:value="${details.getOrderFields().get('name')}"  th:placeholder="'First Name Last Name'" required></tr>
                <strong>Yer Mental BrainBox</strong>
                <tr><input name="shippingEmail" th:value="${details.getOrderFields().get('eMail')}"  th:placeholder="'email@wizardsense.com'" required></tr>
                <strong>Yer Psychic Link </strong>
                <tr><input name="shippingPhone" th:value="${details.getOrderFields().get('phoneNumber')}"  th:placeholder="'+36-000-0000'" required pattern="[\+]\d{2}[\-]\d{3}[\-]\d{4}"></tr>
                <strong>Country where ye livest</strong>
                <tr><input name="shippingCountry" th:value="${details.getOrderFields().get('country')}"  th:placeholder="'Pabusia'" required></tr>
                <strong>The City of thine dwelling</strong>
                <tr><input name="shippingCity" th:value="${details.getOrderFields().get('city')}"  th:placeholder="'Paingbing'" required></tr>
                <strong>District of Yours</strong>
                <tr><input name="shippingZip" th:value="${details.getOrderFields().get('zipCode')}"  th:placeholder="'0512'" required></tr>
                <strong>Thine quarters</strong>
                <tr><input name="shippingAddress" th:value="${details.getOrderFields().get('address')}"  th:placeholder="'14 Victory Street'" required></tr>
                <input name="addressID" hidden="hidden" th:value="${addressID}">
                <button class="btn btn-success" type="submit" th:text="${'Pay thine gold'}"></button>
            </form>
        </table>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>