<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: copy"></head>

<body>

<div th:replace="logo.html :: copy"></div>

<div class="container">
    <div class="goodbye-message">
        <h1> Thank you for purchasing through us!</h1>
        <p> The items will arrive at your transportation crystal soon.<br>
            You will shortly receive a confirmation message spell on your <i>meetia</i> crystal.<br>
            We hope that you are satisfied with your purchase and you will tell the stories of our shop far and wide!</p>

        <p>Take care on your travels o' generous one!</p>

        <p><a th:href="@{/}">Back to main page</a></p>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>