<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>
<body>

<div name="store-name" class="navbar">
        <form name="reset-form" action="#" th:action="@{/}" method="post">
            <button id="reset" type="submit" name="reset" value="0"><img class="logo" src="static/img/page_logo.png" alt="WizardSense"/></button>
        </form>
    <a th:if="${userID != null}" href="/shopping-cart" style="text-decoration: none">
        <img class="cart-logo" src="/static/img/shopping-cart.png" alt="">
        <span th:if="${cartSize > 0}" th:text="${cartSize}" class="dot"></span>
    </a>
    <div th:if="${userID != null}">
        <a th:text="'Hello there '+ ${userName}+'!'"></a>
        (<a th:href="@{/logout}">Logout</a>)
    </div>
    <div th:unless="${userID != null}">
        <a class="login-navbar" th:href="@{/login}">Login</a>
        <a class="register-navbar" th:href="@{/register}">Register</a>
    </div>
</div>

<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle filtering-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cast Filtering Spell
        </button>
        <div class="dropdown-menu dropdown-menu-right" >
            <form action="#" th:action="@{/}" method="post">
                <div><strong>&nbsp&nbsp&nbspCategories:</strong></div>
                <div class="dropdown-divider"></div>
                <button name="filter" class="dropdown-item" type="submit" th:each="cat : ${categories}"
                        th:text="${cat.name}" value="#" th:value="${cat.getName() + ' ' + cat.getId()}">
                </button>
                <div><strong>&nbsp&nbsp&nbspSuppliers:</strong></div>
                <div class="dropdown-divider"></div>
                <button name="filter" class="dropdown-item" type="submit" th:each="sup : ${suppliers}"
                        th:text="${sup.name}" value="#" th:value="${sup.getName() + ' ' + sup.getId()}">
                </button>
            </form>
        </div>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod : ${products}">
            <div class="card magic-select">
                <img src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.getId()} + '.png'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.getName()}">Product name</h4>
                    <p class="card-text" th:text="${prod.getDescription()}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getDefaultPrice() + ' GP '}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <form th:action="@{/}" method="post">
                            <input type="hidden" th:value="${prod.getId()}" name="product">
                            <input class="btn btn-success" type="submit" value="Add to cart" th:if="${userID}">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>