<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: copy"></head>

<body>

<div th:fragment="copy" class="navbar">
    <a id="to-main-page" href="#" th:href="@{/}">
        <img class="logo" src="/static/img/page_logo.png" alt="WizardSense">
    </a>
</div>

<div class="container container-inputs" >

    <div class="login">
        <form th:action="@{/login}" method="post">
            <p class="fancy-text"><strong>Establish Telepathic Senses:</strong></p>

            <p class="error-message fancy-text" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>

            <div class="login-form">
                <p class="fancy-text">WizardAlias: <input name="username" type="text" placeholder="BaileyTomund"></p>
                <p class="fancy-text">SpellWord: <input name="password" type="password" placeholder="SpellWord"></p>
                <p>
                    <input class="login-button" type="button" value="Awaken Sense!">
                </p>
            </div>
        </form>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>