<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>

<body>

<div th:fragment="copy" class="navbar">
    <a id="to-main-page" href="#" th:href="@{/}">
        <img class="logo" src="/static/img/page_logo.png" alt="WizardSense">
    </a>
</div>

<div class="container container-inputs">

    <form th:action="@{/login}" method="post">
        <p><strong>Estabilish Telepahic Senses:</strong></p>

        <p class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>

        <div class="login-form">
            <p>WizardAlias: <input name="username" type="text" placeholder="BaileyTomund" required></p>
                <p>SpellWord: <input name="password" type="password" placeholder="SpellWord" required></p>
            <p>
                <input type="submit" value="Awaken Sense!">
            </p>
        </div>
    </form>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>