<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>

<body>

<div th:fragment="copy" class="navbar">
    <a id="to-main-page" href="#" th:href="@{/}">
        <img class="logo" src="/static/img/page_logo.png" alt="WizardSense">
    </a>
</div>

<div class="container container-inputs">
    <form th:action="@{/register}" method="post">
        <p><strong>Registration Info:</strong></p>

        <p class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>

        <div class="register-form"><p>Wizard Alias: </p><input name="username" type="text"
                                                            placeholder="NonShadyWizardAlias"
                                                            required>
            <p>Spell Word: </p><input name="password" type="password"
                                      placeholder="CleverSpellWord" required>

            <p>Re-Chant Spell Word: </p><input name="rePassword" type="password"
                                               placeholder="CleverSpellWordAgain" required>
        </div>


        <input type="submit" value="Sign Pact">
    </form>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>