<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>WizardSense | Satchel</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div th:replace="logo.html :: copy"></div>


<div class="container">
    <h3>Your Satchel of Goods</h3>
    <div th:if="${totalSum > 0}" class="sum-buttons">
        Total sum:
        <span th:text="${totalSum + ' GP'}">9000</span>
        <a href="/checkout" class="btn btn-success">I shall buy this lot</a>
        <a href="/" class="btn btn-danger">Nay, I shall browse further</a>
    </div>

    <div th:if="${!cart.isEmpty()}">
        <div th:each="item : ${cart}" class="cart-item">
            <div class="product-card">
                <img class="cart-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${item.id} + '.png'" alt="Image not found"/>
                <div class="item-details">
                    <p class="item-name" th:text="${item.getName()}">...</p>
                    <p class="item-cat" th:text="${item.getProductCategory().getName()}">...</p>
                    <p class="item-sup" th:text="${item.getSupplier().getName()}">...</p>
                    <p th:text="${item.getDescription()}">...</p>
                </div>
                <div class="item-pricing">
                    <div>
                        <form action="#" th:action="@{/shopping-cart}" method="post">
                            <button class="cart-button" type="submit" name="increase" value="#" th:value="${item.id}">
                                <img src="static/img/add.png" alt="add">
                            </button>
                            <button class="cart-button" type="submit" name="decrease" value="#" th:value="${item.id}">
                                <img src="static/img/minus.png" alt="remove">
                            </button>
                        </form>
                    </div>
                    <p th:text="${item.defaultPrice + ' GP'}"></p>
                    <p th:text="${item.quantity + ' piece(s)'}"></p>
                    <p th:text="${'Sum : ' + item.getDefaultPrice() * item.getQuantity()}"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${!cart.isEmpty()}">
        <p><h6 class="empty-cart">Your satchel doesn't contain anything.</h6></p>
    </div>


</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>