<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy"></head>

<body>

<div th:replace="logo.html :: copy"></div>


<div class="container">
    <h3>Your Satchel of Goods</h3>
    <div th:if="${totalSum > 0}" class="sum-buttons">
        Total sum:
        <span th:text="${totalSum + ' GP'}">9000</span>
        <a href="/address-list" class="btn btn-success">I shall buy this lot</a>
        <a href="/" class="btn btn-danger">Nay, I shall browse further</a>
    </div>

    <div th:if="${!cart.getProductList().isEmpty()}">
        <div th:each="item : ${cart.getProductsInCart()}" class="cart-item">
            <div class="product-card">
                <img class="cart-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${item.getId()} + '.png'" alt="Image not found"/>
                <div class="item-details">
                    <p class="item-name" th:text="${item.getName()}">...</p>
                    <p class="item-cat" th:text="${item.getProductCategory().getName()}">...</p>
                    <p class="item-sup" th:text="${item.getSupplier().getName()}">...</p>
                    <p th:text="${item.getDescription()}">...</p>
                </div>
                <div class="item-pricing">
                    <div>
                        <form action="#" th:action="@{/shopping-cart}" method="post">
                            <button class="cart-button" type="submit" name="increase" value="#" th:value="${item.getId()}">
                                <img src="static/img/add.png" alt="add">
                            </button>
                            <button class="cart-button" type="submit" name="decrease" value="#" th:value="${item.getId()}">
                                <img src="static/img/minus.png" alt="remove">
                            </button>
                        </form>
                    </div>
                    <p th:text="${item.defaultPrice + ' GP'}"></p>
                    <p th:text="${cart.getQuantityOfProduct(item) + ' piece(s)'}"></p>
                    <p th:text="${'Sum : ' + item.getDefaultPrice() * cart.getQuantityOfProduct(item)}"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${!cart.getProductList().isEmpty()}">
        <p><h6 class="empty-cart">Your satchel doesn't contain anything.</h6></p>
    </div>


</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>