<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>WizardSense | Satchel</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>
        <a id="to-main-page" href="#" th:href="@{/}">
        WizardSense
        </a>
    </h1>
</div>

<div class="container">
    <ul>
        <li th:each="item : ${cart}" >
            <span class="cart-item" th:text="${item.name + ' | Quantity: ' + item.getQuantity() + ' | ' + ' | Price: ' + item.price + ' | ' + ' | Total : ' + item.getDefaultPrice() * item.getQuantity() + ' | '}">CartItem</span>
            <span><form action="#" th:action="@{/shopping-cart}" method="post">
                <!--            add images for increase/decrease-->
                <button class="cart-button" type="submit" name="increase" value="#" th:value="${item.id}">Add</button>
                <button class="cart-button"type="submit" name="decrease" value="#" th:value="${item.id}">Rem.</button>
            </form></span>
        </li>
    </ul>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>