<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy" class="navbar">
    <a id="to-main-page" href="#" th:href="@{/}"><img class="logo" src="/static/img/page_logo.png"
                                                      alt="WizardSense"></a>
    <div class="logout" th:if="${userID != null}">
        <a th:text="'Hello there '+ ${userName}+'!'"></a>
        (<a th:href="@{/logout}">Logout</a>)
    </div>
    <div th:unless="${userID != null}">
        <a class="login-navbar" th:href="@{/login}">Login</a>
        <a class="register-navbar" th:href="@{/register}">Register</a>
    </div>
</div>

</body>
</html>
