.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#to-main-page, #reset {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    float: left;
    margin-bottom: 10px;
}

.cart-button {
    margin-left: 10px;
    margin-bottom: 10px;
}

.dot {
    z-index: 2;
    position: fixed;
    top: 35px;
    right: 200px;
    height: 20px;
    width: 20px;
    background-color: #d82d2d;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.cart-logo {
    z-index: 2;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 200px;
}

.logo {
    z-index: 2;
    position: fixed;
    width: 150px;
    top: 0;
    left: 0;
}

.login, .register {
    z-index: 2;
    margin: 10px;
    position: fixed;
    top: 20px;
}

.login {
    right: 100px;
}

.register {
    right: 20px;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: lightgray;
    height: 73px;
    width: 100%;
}

.container {
    position: relative;
    top: 100px;
}