.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

#to-main-page, #reset {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    margin: 10px;
    width: 130%;
}

.cart-button {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0px;
    background: none;
}

.dot {
    z-index: 2;
    position: fixed;
    top: 35px;
    right: 300px;
    height: 20px;
    width: 20px;
    background-color: #d82d2d;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.cart-logo {
    z-index: 2;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 300px;
}

.logo {
    z-index: 2;
    position: fixed;
    width: 150px;
    top: 0;
    left: 0;
}

.login-navbar, .register-navbar {
    z-index: 2;
    margin: 10px;
    position: fixed;
    top: 20px;
}

.login-navbar {
    right: 180px;
}

.register-navbar {
    right: 80px;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: lightgray;
    height: 73px;
    width: 100%;
}

.container {
    position: relative;
    top: 120px;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    text-align: center;
    background-color: lightgray;
    bottom: 0;
    width: 100%;
}

.filtering-btn {
    margin-bottom: 20px;
}

.card {
    width: 300px;
    margin-right: -20px;
    margin-bottom: 20px;
}

.magic-select {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.magic-select img:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in;
}

.magic-select:hover {
    color: rgba(119, 34, 109, 0.95);
    text-shadow: 0px 0px 30px rgba(84, 35, 85, 0.95);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.cart-image {
    height: 150px;
    position: relative;
    left: 15px;
    top: -35px;
    border-radius: 10px;
    border: solid black 1px;
    display: inline-block;
}

.item-details {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    width: 50%;
    top: 0;
}

.item-pricing {
    position: relative;
    display: inline-block;
    left: 182px;
    top: 13%;
    border-left: solid 3px black;
    padding-left: 30px;
}

.product-card {
    background: lightgray;
    border-radius: 10px;
    width: 80%;
    height: 200px;
}

.sum-buttons {
    position: absolute;
    top: 0;
    right: -38px;
}

.sum-buttons a {
    margin-top: -10px;
}

.sum-buttons span {
    margin-right: 50px;
    margin-top: 5px;
    font-size: 24px;
    color: #d6b51a;
    font-weight: bolder;
}

.item-name {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.item-cat {
    font-size: 12px;
    display: inline-block;
    margin-left: 80px;
}

.item-sup {
    font-size: 12px;
    display: inline-block;
    margin-left: 40px;

}

.empty-cart {
    text-align: center;
    color: gray;
    margin-top: 100px
}

.check-form p, .check-form input {
    display: inline-block;
}

.check-form p {
    width: 120px;
}


.container-inputs form input {
    margin: 0 20px 20px;
    width: 320px;
    border-radius: 5px;
    display: inline-block;
}

.container form {
    text-align: center;
}

.error-message {
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.register-form input {
    align-content: center;
}

.login {
    background-image: url("/static/img/login_still_circle.png");
    width: 900px;
    height: 483px;
    background-size: cover;
    text-align: center;
    margin-left: 90px;
}

.login input {
    font-size: medium;
    width: 130px !important;
}

.login .fancy-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 1px 4px grey;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.login ::placeholder {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
    color: grey;
    font-weight: normal;
}

.container .login {
    display: inline-block;
}

#magic-form {
    margin-top: 130px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 150px;
    height: 237px;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-image: url("/static/img/cardBack.png");
    color: white;
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.flip-card-front h4, .flip-card-front p {
    display: flex;
    align-self: center;
    justify-self: center;
}

/* Style the back side */
.flip-card-back {
    background-image: url("/static/img/cardFront.png");
    color: white;
    background-size: cover;
    transform: rotateY(180deg);
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}



.address-card{
    width: 150px;
    height: 237px;
    border: 0;
    background-color: transparent;
    margin: 10px 20px;
}

.floating {
    animation-name: floating;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

body {
    background-color: white;
}

.card {
    background-color: transparent !important;
    color: black;
    justify-content: center;
    border: none;
}

#checkout-container{
    background-image: url("/static/img/blank_scroll.png");
    background-position: center;
    background-size: cover;
    width: 997px;
    height: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    align-content: center;
    padding-top: 210px;
    margin-left: 70px;
    right: 50%;
}

#checkout-container p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
}

#checkout-container p:nth-child(0){
    text-align: left;
}

#checkout-container p:nth-child(1){
    text-align: right;
}

#checkout-submit{
    width: 438px;
    height: 90px;
    background-image: url("/static/img/SealTheDeal.png");
    background-size: contain;
    border: 0;
    background-color: transparent;
    margin-top: -25px;
    margin-left: 162px;
}

#checkout-submit:hover{
    background-image: url("/static/img/SealTheDealHover.png");
}

#submit-quill{
    position: relative;
    margin-top: -900px;
    margin-left: 815px;
}

.summary-card {
    margin-left: 15%;

    display: grid;
    width: 75%;
    height: auto;

    border: 1px solid #4f4f4f;
    border-radius: 2px;
    box-shadow: 9px 7px 18px 1px rgba(92,92,92,0.42);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.summary-card div{
    padding: 15px;
}

.summary-product-list{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.summary-info-list{
    margin-top: 35px;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.summary-buttons{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.summary-buttons button {
    margin: 5px;
    padding: 5px;
}

.summary-products {
    justify-self: center;
    border: lightgray 1px;
}

.summary-sum {
    grid-row: 2;
    grid-column: 1;
    border-top: 2px solid black ;
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.summary-product-cell{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: -30px -10px;
}

.heading{
    font-weight: bold;
    text-decoration: underline black;
}

.product-name{
    grid-column: 1;
}

.product-quantity {
    grid-column: 5;
}

.text-sum{
    grid-column: 1;
}

.sum-sum{
    grid-column: 5;
}

.goodbye-message{
    text-align: center;
    margin: 30px 0;
}

.logout {
    margin: 20px;
}

.no-address{
    margin: 30px 0;
    text-align: center;
}
