.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#to-main-page, #reset {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    margin: 10px;
    width: 130%;
}

.cart-button {
    margin-left: 10px;
    margin-bottom: 10px;
}

.dot {
    z-index: 2;
    position: fixed;
    top: 35px;
    right: 200px;
    height: 20px;
    width: 20px;
    background-color: #d82d2d;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.cart-logo {
    z-index: 2;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 200px;
}

.logo {
    z-index: 2;
    position: fixed;
    width: 150px;
    top: 0;
    left: 0;
}

.login, .register {
    z-index: 2;
    margin: 10px;
    position: fixed;
    top: 20px;
}

.login {
    right: 100px;
}

.register {
    right: 20px;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: lightgray;
    height: 73px;
    width: 100%;
}

.container {
    position: relative;
    top: 120px;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    text-align: center;
    background-color: lightgray;
    bottom: 0;
    width: 100%;
}

.filtering-btn {
    margin-bottom: 20px;
}

.card {
    width: 300px;
    margin-right: -20px;
    margin-bottom: 20px;
}

.magic-select {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.magic-select img:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in;
}

.magic-select:hover {
    color: rgba(54, 3, 22, 0.95);
    text-shadow:0px 0px 30px rgba(54, 3, 22, 0.95);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.cart-image {
    height: 150px;
    position: relative;
    left: 15px;
    top: -35px;
    border-radius: 10px;
    border: solid black 1px;
    display: inline-block;
}

.item-details {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    width: 50%;
    top: 0;
}

.item-pricing {
    position: relative;
    display: inline-block;
    left: 182px;
    top: 13%;
    border-left: solid 3px black;
    padding-left: 30px;
}

.product-card {
    background: lightgray;
    border-radius: 10px;
    width: 80%;
    height: 200px;
}

.sum-buttons {
    position: absolute;
    top: 0;
    right: -38px;
}

.item-name {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.item-cat {
    font-size: 12px;
    display: inline-block;
    margin-left: 80px;
}

.item-sup {
    font-size: 12px;
    display: inline-block;
    margin-left: 40px;

}